* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 960px;
  margin: auto;
}

img {
  height: 100%;
}

.top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.75rem 1rem;
  background: burlywood;
  text-align: center;
  font-family: 'laila', sans-serif;
  font-weight: 500;
  color: rgb(119, 73, 13);
}

/* Who */

#who {
  padding: 5% 0;
}

.who {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
}

@media(max-width:768px) {
  .who {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .who .video {
    text-align: center;
  }
}

/* What */

#what {
  padding: 3% 0;
  text-align: center;
  background: #E71FB5;
  color: rgb(241, 241, 241);
}

#what h2 {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  color: #FDC400;
}

.what {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}


#what i {
  margin-bottom: 2rem;
}

#what p {
  text-align: left;
  padding: 0.75rem;
  margin-left: 1rem;
}


@media(max-width:768px) {
  .what {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  #what p {
    text-align: left;
    padding: 1rem 7rem;
    margin-left: 1rem;
  }
}



@media(max-width:500px) {
  .what p {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  #what p {
    text-align: left;
    padding: 1rem 1rem;
    margin-left: 1rem;
  }
}




#gurantee {
  padding: 3% 0;
}

.gurantee {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
}

.gurantee:first-child img {
  width: 100%;

}



/* Women */

#women {
  padding: 3% 0;
  background: #ffffff;
}



.women {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.women-content img {
  width: 100%;
  height: 300px;
}

.women-content p {
  text-align: center;
  padding: .75rem 2rem;
  background: orange;
  color: red;
  font-weight: 700;
  font-size: 110%;
  animation: animate1 1s forwards infinite ease-in-out;
}

@keyframes animate1 {
  from {
    color: rgb(251, 255, 44);
  }
}

@media(max-width:768px) {
  .women {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media(max-width:500px) {
  .women {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

/* Contact */

#contact {
  background: #e6e6e6;
  padding: 5rem;
}

.contact {
  background: white;
  padding: 3rem;
  color: #5885d1;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.contact a {
  font-size: 120%;

}

.contact a:hover {
  text-decoration: none;
  color: #5885d1;

}

@media(max-width:500px) {
  #contact {
    background: #c4c4c4;
    padding: 2rem 1rem;
  }

  .contact {
    padding: 1.5rem;
  }
}

#footer {
  background: rgb(255, 255, 255);
  padding: 2rem;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.item ul {
  text-decoration: none;
  list-style: none;
}

.item ul li {
  text-decoration: none;
  list-style: none;
}

.footer a {
  color: #333333;

}

ul {
  list-style: none;
}


/* Form */

#form {
  background: #E4EDF2;
}

.form {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* justify-content: center; */
  align-items: center;
}

.form .item:first-child {
  background: #FF6600;
  padding: 3rem 3rem;
  text-align: center;
  color: white;
}

.form .item:last-child {
  background: #ffffff;
  /* padding: 1rem 3rem; */
  padding: 3rem;
}

.form .item:last-child input {
  border: none;
  border-bottom: 1.2px solid #BEBEBE;
  color: #BEBEBE;
  margin-bottom: 1.5rem;
  width: 100%;
  padding: 0.5rem 0rem;
}


.form .item:last-child textarea {
  border: none;
  border: 1.2px solid #BEBEBE;
  color: #BEBEBE;
  margin: 1rem 0rem;
  width: 100%;
  padding: 0.5rem;
}

.form .item:last-child select {
  border: none;
  border: 1.2px solid #BEBEBE;
  color: #999898;
  margin: 1rem 0rem;
  width: 100%;
  padding: 0.5rem;
}

.form .documents {
  background: orange;
  padding: 1rem 2rem;
  color: white;
}

form button {
  background: rgb(136, 136, 231);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 1rem 0 0;
  text-align: center;
  padding: 0.5rem 1rem;
  width: 100%;

}

@media(max-width:768px) {

  .form {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr;
    /* justify-content: center; */
    align-items: center;
  }
}